<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="nw.phantomConfig" type="LC.Framework.Phantom.Configuration.PhantomConfigurationHandler, NextWay.Framework.PhantomV2"/>
  </configSections>

  <!--<nw.phantomConfig connLibrary="SqlClient" connString="Server=SQL4.IPHOTEL.COM.BR,9104;Database=dados_771;User ID=sysdemo;PWD=3825cd27;timeout=1999999999" dbDateFormat="dd/MM/yyyy" dbTimeFormat="HH:mm:ss" isEncryptedConnString="false" allStringsUpperCase="true"/>-->
  <nw.phantomConfig connLibrary="SqlClient" connString="Server=sqlserver01.dentistas101.hospedagemdesites.ws;Database=dentistas101;User ID=dentistas101;PWD=Papai1234;timeout=1999999999" dbDateFormat="dd/MM/yyyy" dbTimeFormat="HH:mm:ss" isEncryptedConnString="false" allStringsUpperCase="true"/>

</configuration>